<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
    <link href="./404.css" rel="stylesheet" type="text/css" />
    <div class="terminal">
      <p>
        The page you are trying to shorten has an issue. <br />
        This can be caused because: <br />
        - It does not exist <br />
        - URL is not valid<br />
        (format: http://www.example.com)<br />
        - The page you are looking for is offline <br />
      </p>
    </div>
    <a id="goBack" href="/">go back to the homepage</a>
  </body>
</html>
