<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener</title>
    <link rel="icon" type="image/png" href="../public/favicon.ico" />
    <link href="./public/style.css" rel="stylesheet" type="text/css" />
    <link href="../public/style.scss" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1 id="header">URL Shortener Microservice</h1>
    <a id="link" target="_blank"></a>
    <form onsubmit="return false;">
      <label for="url_input">Paste the URL to be shortened</label>
      <input
        id="url_input"
        type="text"
        name="url"
        required
        placeholder="Enter the link here"
      />
      <input
        id="submit"
        class="button"
        type="submit"
        value="POST URL"
        onclick="doSubmit()"
      />
    </form>
    <button id="statistic" class="button" type="submit" onclick="gotoStats()">
      Statistic
    </button>
    <div class="tables" id="tables">
      <h1 class="table-header">Statistics:</h1>
      <section id="first-table">
        <table class="styled-table">
          <thead>
            <tr>
              <th>ShortUrls</th>
              <th>FullUrls</th>
              <th>CreatedAt</th>
              <th>Clicks</th>
            </tr>
          </thead>
          <tbody id="url-statistic"></tbody>
        </table>
      </section>
      <button id="close-button" type="submit" onclick="gotoStats()">
        Close Me
      </button>
    </div>
    <footer class="footer">
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      />
      <a
        href="https://www.facebook.com/amit.benyaakov.3"
        target="_blank"
        class="fa fa-facebook"
      ></a>
      <a
        href="https://github.com/amitby98"
        target="_blank"
        class="fa fa-github"
      ></a>
      <h3>By: Amit Ben Yaakov</h3>
      <a
        href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox"
        target="_blank"
        class="fa fa-google"
      ></a>
      <a
        href="https://www.instagram.com/amit_by98/"
        target="_blank"
        class="fa fa-instagram"
      ></a>
    </footer>
  </body>
  <script src="./main.js"></script>
</html>
