@import url("https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: arvo;
  text-align: center;
}
h1 {
  font-size: 4rem;
  background-color: lightblue;
  padding: 3rem 0rem;
  margin-bottom: 2rem;
}
#link {
  font-size: 2rem;
}
.tables {
  display: none;
  background-color: rgba(251, 247, 247, 0.87);
  width: 70%;
  height: 85%;
  margin-top: 3rem;
  text-align: center;
  position: absolute;
  top: 0;
  margin-left: 16.2rem;
  margin-top: 4.5rem;
  z-index: 1;

  .table-header {
    font-size: 4rem;
    font-family: cursive;
  }
  .styled-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 1.2em;
    font-family: sans-serif;
    text-align: center;
    width: 70%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    thead tr {
      background-color: #009879;
      color: #ffffff;
    }
    th,
    td {
      padding: 12px 15px;
    }
    tbody tr {
      background-color: rgba(255, 255, 255, 0.959);
      z-index: 4;
    }

    tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
    }
    tbody tr.style-row {
      font-weight: bold;
      color: #009879;
    }
  }
}
#first-table {
  scroll-behavior: smooth;
  height: 33%;
  overflow: scroll;
}
#footer {
  position: absolute;
  font-size: 1.5rem;
  bottom: 0;
  background-color: lightblue;
  padding: 1.5rem 0rem;
  width: 100%;
}
