@import url("https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: Impact;
  text-align: center;
  background-image: url("https://cdn.wallpapersafari.com/25/66/mxJCzh.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#header {
  font-size: 5rem;
  color: #b381a0;
  padding: 3rem 0rem;
  margin-bottom: 2rem;
}
#link:link,
#link:visited {
  font-family: arial, sans-serif;
  background-color: #db9fc4;
  color: black;
  border: 2px solid white;
  font-size: 2rem;
  height: 3rem;
  width: fit-content;
  text-align: center;
  padding: 1rem 2rem;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
}

#link:hover,
#link:active {
  background-color: rgb(145, 173, 226);
  color: white;
  border-radius: 15px;
}
.tables {
  display: none;
  background-color: rgba(251, 247, 247, 0.924);
  width: 70%;
  height: 70%;
  text-align: center;
  position: absolute;
  top: 0;
  margin-left: 16.2rem;
  margin-top: 8rem;
  z-index: 1;

  .table-header {
    font-size: 4rem;
    font-family: cursive;
  }
  .styled-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 1.2em;
    font-family: sans-serif;
    text-align: center;
    width: 70%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    thead tr {
      background-color: rgb(117, 67, 163);
      color: #ffffff;
    }
    th,
    td {
      padding: 12px 15px;
    }
    tbody tr {
      background-color: rgba(255, 255, 255, 0.959);
      z-index: 4;
    }

    tbody tr:last-of-type {
      border-bottom: 2px solid rgb(117, 67, 163);
    }
  }
}
#first-table {
  scroll-behavior: smooth;
  height: 60%;
  overflow: scroll;
  margin: 2.5rem 0rem;
}
#close-button {
  font-size: 1.5rem;
  width: 8rem;
  height: fit-content;
  background-color: rgb(117, 67, 163);
  color: white;
}

.footer {
  position: absolute;
  font-size: 1.5rem;
  bottom: 0;
  padding: 1rem 0rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  a {
    width: 40px;
    height: 25px;
    text-decoration: none;
    padding: 10px;
    border-radius: 40px;
    font-size: 25px;
    display: block;
    color: white;
  }

  .fa-facebook {
    background: #3b5998;
  }

  .fa-google {
    background: #dd4b39;
  }

  .fa-github {
    background: #000;
  }

  .fa-instagram {
    background: #9a2970;
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    margin-top: 4rem;
    font: bold 36px asap, arial;
    color: #505050;
    letter-spacing: -1px;
  }
  #url_input {
    font-size: 1.5rem;
    margin: 1.5rem 0rem;
    box-sizing: border-box;
    background-color: white;
    height: 5rem;
    width: 35rem;
    border-radius: 15px;
    border: none;
    outline: none;
  }
}
#statistic {
  margin-top: 4rem;
  font-size: 1.5rem;
}

.button {
  margin: 1.5rem 0rem;
  width: 10rem;
  color: white;
  height: 3rem;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #996da0;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px #a8a0aa;
  box-shadow: 0 5px #a8a0aa;
}
.button:hover {
  background-color: #e2a8eb;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  box-shadow: 0 2px #6d3875;
}

.button:active {
  background-color: #e2a8eb;
  -webkit-box-shadow: 0 5px #6d3875;
  box-shadow: 0 5px #6d3875;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}
